@model IEnumerable<Hall>
<table class="table table-zebra text-center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Seats</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hall in Model)
        {
            <tr>
                <td>@hall.Id</td>
                <td>@hall.Name</td>
                <td>@hall.TotalSeats</td>
                <td>
                    <button type="button" onclick="openEditModal(@hall.Id, '/admin/hall/edit/@hall.Id')" class="btn btn-primary btn-outline">Edit</button>
                    <a asp-action="Delete" asp-route-id="@hall.Id" class="btn btn-error btn-outline">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="checkbox" id="edit-modal" class="modal-toggle" />

<div class="modal" id="edit-modal-wrapper" role="dialog" aria-modal="true">
    <div class="modal-box" id="modalContent">
        <!-- Modal content will be loaded here via JavaScript -->
    </div>
    <label class="modal-backdrop" for="edit-modal">Close</label>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}