@model IEnumerable<Hall>
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
        <table class="table table-zebra text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Seats</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hall in Model)
                {
                    <tr>
                        <td>@hall.Id</td>
                        <td>@hall.Name</td>
                        <td>@hall.TotalSeats</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@hall.Id" class="btn btn-primary btn-outline">Edit</a>
                            <a asp-action="Delete" asp-route-id="@hall.Id" class="btn btn-error btn-outline">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

</body>

</html>